{% extends 'base.html' %}

{% block title %}
    Purchase
{% endblock %}

{% block body %}
    {% if username %}
        <div id="user-block">
            Hello, {{ username }}!
        </div>
    {% else %}
        <a href="{{ url_for('login_get') }}">login</a>
    {% endif %}
    {% if purchase %}
        <h1>Purchase Details:</h1>
        <p>Purchase ID: {{ purchase.id }}</p>
        <p>User: {{ purchase.user.name }}</p>
        <p>Book: {{ purchase.book.title }}</p>
        <p>Quantity: {{ purchase.quantity }}</p>
    {% else %}
        <h1>Purchase not found</h1>
    {% endif %}
{% endblock %}
