<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>
        {% block title %}
            My site
        {% endblock %}
    </title>
</head>
<body>
    {% block logout %}
        <form method="post" action="{{ url_for('logout') }}">
            <input type="submit" value="Logout" id="button">
        </form>
    {% endblock %}

    {% block body %}

    {% endblock %}

</body>
</html>